<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>[{{ settings.APP_NAME }} v{{ settings.APP_VERSION }}] {% block title %}{{ title }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="Robots" content="NOINDEX"/>
    <link rel="shortcut icon" href="{{ settings.MEDIA_URL }}images/favicon.ico"/>
    <link rel="icon" href="{{ settings.MEDIA_URL }}images/favicon.ico"/>
</head>

<body>
    <div id="wrapper">
        {% block header %}
        <div>
            <span><a href="/account/">Аккаунт</a></span>
            <span><a href="/profile/">Профиль</a></span>
        </div>
        {% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block footer %}
    <div id="footer_wrap">
        <div id="footer">
            <div id="copyright"></div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
